{%- if section.settings.text != blank -%}
  <div class="customers-text ">
    {{ section.settings.text }}
  </div>
{% endif %}

{% schema %}
{
  "name": "Customers text",
  "settings": [
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}