<div class="page-width">
  {% render 'okendo-reviews-widget', product: product %}
</div>

{% schema %}
{
  "name": "Product reviews",
  "settings": [],
  "presets": [
    {
      "name": "Product reviews"
    }
  ]
}
{% endschema %}