<div class="row full-width-row">
  <div class="small-12 columns">
    {% render 'okendo-reviews-widget', product: product %}
  </div>
</div>

{% schema %}
{
  "name": "Product reviews",
  "settings": [],
  "presets": [
    {
      "name": "Product reviews"
    }
  ]
}
{% endschema %}