.product__custom-colors .product__custom-color {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    padding: 2px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.product__custom-colors .product__custom-color:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -29px;
    margin-left: -29px;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    overflow: inherit;
    border: 1px solid transparent;
}
.product__custom-colors .product__custom-color.active:after,
.product__custom-colors .product__custom-color:hover:after {
    border: 1px solid rgb(0, 0, 0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.collapsible-tab-2 {
    margin: 0 !important;
    border-top: .1rem solid rgba(0,0,0 ,.08);
    border-bottom: .1rem solid rgba(0,0,0 ,.08);
    padding: 10px 0;
}
.collapsible-tab-2 .custom-field--title {
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: all .3s ease;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    line-height: 1.8;
}
.collapsible-tab-2 .custom-field--title:hover {
    color: #000;
}
.collapsible-tab-2 .custom-field--title:hover svg {
    opacity: .5;
}
.collapsible-tab-2 .custom-field--title svg {
    transition: all .3s ease;
    width: 15px;
    color: rgb(255, 183, 21);
}
.collapsible-tab-2 .custom-field-product:not([open]) .icon-minus,
.collapsible-tab-2 .custom-field-product[open] .icon-plus {
    display: none;
}
.collapsible-tab-2 .custom-field-product[open] .custom-field--title {
    font-weight: 700;
}
.product__accordion .custom-field--value > ul {
    margin-left: 0;
}
.product__accordion .custom-field--value > ul > li {
    list-style: none;
    position: relative;
    padding-left: 25px;
}
.product__accordion .custom-field--value > ul > li::before {
    content: "";
    background: url("/cdn/shop/files/test.png?v=1693578624") no-repeat center;
    background-size: auto;
    background-size: 60%;
    border-radius: 50%;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    display: inline-block;
    color: #000;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 7px;
}
.product__accordion .custom-field--value {
    font-size: 16px!important;
    padding: 15px 0 15px!important;
    color: #000!important;
}
.product__accordion .custom-field--value > * {
    line-height: 1.8!important;
}
.size-chart-wrap > h5 {
    line-height: 120%;
    font-size: 18px;
    font-family: Open Sans;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(0,0,0,.75);
    text-align: center;
    margin-top: 30px;
}
body.compensate-for-scrollbar {
    overflow: hidden;
}
.product {
    margin: 0;
}
.size-chart-wrap p {
    margin: 16px 0;
}
.size-chart-wrap > p {
    margin-top: 10px;
}
.size-chart-wrap table {
    margin-top: 30px;
}
.size-chart-wrap * {
    font-family: Open Sans;
}
.shoesImg img {
    object-fit: contain;
}
/*.product_size-chart {*/
/*    margin: 15px 0;*/
/*}*/
/*.product_size-chart small {*/
/*    font-size: 14px;*/
/*    line-height: 19px;*/
/*    color: #000000;*/
/*}*/
/*.product_size-chart small a {*/
/*    color: #FF3115;*/
/*    text-decoration: None;*/
/*}*/
/*.product_size-chart small a:hover {*/
/*    color: #000000;*/
/*}*/
.product_size-chart .size_chart {
    color: var(--color-accent);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product_size-chart .size_chart svg {
    height: 12px;
    width: auto;
    margin-right: 9px;
    fill: var(--color-accent);
}
.product_size-chart .size_chart span {
    font-size: .8125rem;
    letter-spacing: .02em;
    font-weight: 300;
    text-transform: capitalize;
}
@media (max-width: 450px) {
    .shoesImg img {
        height: 90px;
    }
}
@media (max-width: 585px) {
    .shoesImg img {
        height: 110px;
    }
}
@media (max-width: 575px) {
    .size-chart-wrap p {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .shoesImg img {
        height: 130px;
    }
}
/*product gallery*/
#productViewAllImages {
    padding: 6px 11px;
    height: auto;
    line-height: 1;
}
.view-all-images__button svg {
    margin-left: 5px;
}
#ViewAllImagesModal .product-popup-modal__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 45px 15px 5px 15px;
    background: white;
    margin-top: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    transform: none;
    left: 0;
}
#ViewAllImagesModal .product-popup-modal__toggle {
    position: absolute;
    right: 8px;
    top: 2px;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 12px;
    z-index: 6;
    width: auto;
    margin: 0 0 0 auto;
}
.product-popup-modal__toggle .icon {
    height: auto;
    margin: 0;
    width: 16px;
}
.view-all-image:nth-child(odd) {
    padding-right: 5px;
}
.view-all-image:nth-child(even) {
    padding-left: 5px;
}
.view-all-image {
    flex: 0 0 50%;
    padding-bottom: 10px;
    position: relative;
}
#ViewAllImagesModal.product-popup-modal[open] {
    z-index: 100;
}
#ViewAllImagesModal .product__media-icon {
    opacity: 0;
}
#ModalClose-ViewAllImagesModal:hover {
    opacity: .75;
}
.product-gallery-navigations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
#ViewAllImagesModal .product-single__media-zoom {
    top: 0;
    left: 0;
    background: transparent;
    cursor: zoom-in;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
}
#ViewAllImagesModal .product-single__media-zoom svg {
    display: none!important;
}
#ViewAllImagesModal .product-images {
    grid-gap: 10px;
}
@media screen and (max-width: 400px) {
    #productViewAllImages {
        padding: 6px 5px 4px 5px;
        font-size: 13px;
    }
}
@media only screen and (max-width: 1067px) {
    .product-image-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .product-gallery-navigations {
        margin-top: 20px;
        margin-bottom: 0;
    }
    #ViewAllImagesModal .product-images {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: initial;
        overflow: auto;
        width: 100%;
    }
    .product-gallery-navigations {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 767px) {
    .product-gallery-navigations {
        padding: 0 15px;
    }
}
.tab_variants {
    margin: 0 -5px;
}
.tab_variants .col-auto {
    padding: 0 5px;
}

.tab_variants .titles {
    padding-left:0;

}

.tab_variants .danns {
    text-transform:uppercase;
}
.tab_variants .danns:hover {
    cursor:pointer;
    text-decoration:underline;
}
.tab_variants .danns.active {
    font-weight: 700;
    text-decoration:underline;
}

.show_variants,.product-form__input {
    display: none;
}
.show_variants.active {
    display: block;
}
.product-form__input_dann input[type=radio]+label.available_false {
    border-color: rgba(0,0,0,0);
}
/*end product gallery*/

.product-form__input_dann {
    flex: 0 0 100%;
    padding: 0;
    margin: 0 0 12px 0;
    max-width: 37px;
    min-width: fit-content;
    border: none;
}

.product-form__input_dann input[type=radio] {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.product-form__input_dann input[type=radio]+label {
    border: 1px solid rgba(0,0,0,.55);
    border-radius: 40px;
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin: 7px 5px 2px 0;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
}
.product-form__input_dann input[type=radio]+label:last-child {
    margin-right: 0;
}

.product-form__input_dann .available_false {
    background: rgba(0,0,0,.15);
    cursor: not-allowed!important;
}

.product-form__input_dann input[type=radio]+label:hover {
    border: 1px solid #000;
}

.product-form__input_dann input[type=radio]:checked+label {
    background-color: #000;
    color: #fff;
}
.tab_variants {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
}
.tab_variants .col-auto {
    padding: 0 5px;
}

.tab_variants .titles {
    padding-left:0;

}

.tab_variants .danns {
    text-transform:uppercase;
}
.tab_variants .danns:hover {
    cursor:pointer;
    text-decoration:underline;
}
.tab_variants .danns.active {
    font-weight: 700;
    text-decoration:underline;
}

.show_variants,.product-form__input {
    display: none;
}
.show_variants.active {
    display: block;
}
.product-form__input_dann input[type=radio]+label.available_false {
    border-color: rgba(0,0,0,0);
}
.product-form__input_dann input[type="radio"] + label {
    cursor: pointer;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 45px;
    height: 45px;
    border-radius: 3px;
    display: inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}
.product-form__input_dann input[type="radio"]:not(:checked) + label {
    background: transparent;
    color: rgb(var(--color-foreground));
}
.product-form__input_dann input[type="radio"] + label.available_false {
    position: relative;
}
.product-form__input_dann input[type="radio"]:not(:checked) + label.available_false {
    border-color: #c8c8c8;
    background: #ebebeb;
    color: #c8c8c8;
}
.product-form__input_dann input[type="radio"] + label.available_false::before {
    content: '';
    background-image: linear-gradient(to bottom left,transparent 50%,#c8c8c8 50%,#c8c8c8 calc(50% + 1px),transparent 50%),linear-gradient(to bottom right,transparent 50%,transparent  50%,transparent  calc(50% + 1px),transparent 50%);
    top: -2px;
    left: 0;
    right: -2px;
    bottom: 0;
    position: absolute;
    border-radius: 5px;
}
#Product-Drawer variant-selects,
.product-information variant-selects {
    display: none;
}
.custom-product-form__label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
#ps__bis_container_root {
    width: 100%;
}
@media only screen and (min-width: 1068px) {
    .product-images {
        padding: 0 50px;
        grid-auto-flow: column;
        grid-auto-columns: minmax(calc(100% - 100px),100%);
        overflow-y: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        grid-template-columns: 1fr!important;
    }
    .thb-product-detail .product-images__slide {
        width: 100%;
    }
    .product-images-buttons {
        display: flex!important;
    }
}